{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}URC | {{ property.title }}{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1 class="display-4 fw-bold mb-3 text-primary-base" data-aos="fade-right">{{ property.title }}</h1>
        <p class="lead text-accent fw-bold">{{ property.currency }}{{ property.price|intcomma }}</p>

        <!-- <div class="mb-5" data-aos="fade-up">
            <img src="{% if property.main_photo %}{{ property.main_photo.url }}{% else %}{% static 'img/default.jpg' %}{% endif %}" class="img-fluid rounded shadow-sm" alt="{{ property.title }}" style="max-height: 500px; width: 100%; object-fit: cover;">
        </div> -->

        <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="{% if property.main_photo %}{{ property.main_photo.url }}{% else %}{% static 'img/default.jpg' %}{% endif %}" class="d-block w-100" alt="{{ property.title }}" >
                </div>

                {% for img in property.images.all %}
                <div class="carousel-item">
                <img src="{{ img.image.url }}" class="d-block w-100" alt="{{ property.title }}" >
                </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <h2>Description</h2>
                <p>{{ property.description|linebreaks }}</p>
            </div>

            <div class="col-md-4 section-light p-4 rounded" data-aos="fade-left">
                <h5 class="fw-bold">Property Agent</h5>
                <p class="small">{{ property.agent.name }}</p>
            </div>
        </div>

        <div class="mt-5" data-aos="fade-up">
            {% include 'partials/inquiry_form.html' %}
        </div>
    </div>
{% endblock %}